{% extends "base.html" %}

{% load static %} <!-- Load the static tag library -->

{% block title %}Home - SustainABode{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Render the form -->
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
    <!-- Second column for map -->
    <div class="container-fluid col-md-7">
      <div id="map" style="width: 800px; height: 600px;"></div>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicmFydjAwMDEiLCJhIjoiY20wamc3NGw4MHgzZDJqb2pkd3Judzd6MyJ9.V-psI2cWdQmog7DogdbMwA';

  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [144.9631, -37.8136], // starting position [lng, lat]
    zoom: 11 // starting zoom
  });

  map.on('load', function () {

    // Only load the GeoJSON if it's provided
    {% if geojson_url %}

    // Add the GeoJSON data as a source
    map.addSource('melbourne', {
      'type': 'geojson',
      'data': "{% static geojson_url %}" // Local server URL
    });

    // Add a new layer to visualize the polygons with colors based on suscore
    map.addLayer({
      'id': 'melbourne-layer',
      'type': 'fill',
      'source': 'melbourne',
      'paint': {
        'fill-color': [
          'interpolate',
          ['linear'],
          ['to-number', ['get', 'suscore']], // Convert suscore to a number
          1, '#FFEDA0',  // light yellow
          2, '#FED976',  // yellow
          3, '#FEB24C',  // orange
          4, '#FD8D3C',  // red-orange
          5, '#E31A1C'   // dark red
        ],
        'fill-opacity': 0.7
      }
    });

    // Add a black border around each neighborhood
    map.addLayer({
      'id': 'border-layer',
      'type': 'line',
      'source': 'melbourne',
      'paint': {
        'line-color': '#000',
        'line-width': 1
      }
    });
    {% endif %}
  });
</script>

{% endblock %}