/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
}

body {
    background-color: #2f5b4c;
    font-family: "Patrick Hand SC", cursive;
}

.nav-item .nav-link {
    color: white;
    font-size: 2.0rem;
    text-decoration: underline;
}

.nav-item .nav-link.active {
    background-color: transparent;
}

.full-width-bg {
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    /*width: 1775px; */
    /*height: 1000px; */
    width: 100%; /* Full viewport width */
    height: 743px; /* Full viewport height */
    max-width: 1320px;
    margin: 0 auto; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex;
    position: relative;
}

.text-80 {
    width: 80%;
    font-size: 2.0rem;
    color: white;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

.lead1 {
    font-size: 2.5rem;
    color: #31707C;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

.btn-primary {
    font-size: 3rem;
    background: linear-gradient(to right, #08A850, #74C043);
    border-radius: 50px; /* Adjust this value based on the button's height */
    padding-left: 20px; /* Optional: Adjust padding for better appearance */
    padding-right: 20px; /* Optional: Adjust padding for better appearance */
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.carousel-caption {
    bottom: 20%; /* Adjust vertical position of caption, move it up or down as needed */
}

.typed-text {
    font-size: 1.5rem; /* Customize the font size */
    color: white; /* Change the text color */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better readability */
    padding: 10px 20px; /* Add padding around the text */
    border-radius: 5px; /* Optionally, add rounded corners */
}
