{% extends "base.html" %}
{% load static %}  <!-- This line is necessary to load static files -->

{% block title %}About SustainAbode{% endblock %}

{% block content %}

<div class="container" style="background-color: #76A458;">

    <!-- New text box above the existing rows -->
    <div class="row justify-content-center"> <!-- Adjusted margin-bottom -->
        <div class="col-12 text-center">
            <div style="background-color: #426833; border-radius: 15px; padding: 20px; margin-top: 20px;">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 text-center" style="color: #ffbd59 !important;">What do we do?</h1>
                <p class="lead1" style="font-size: 1.2rem; color: white;">Welcome to SustainAbode. We offer a solution that creates the perfect balance between your home budget, personal preferences, and sustainable living in harmony with nature.</p>
            </div>
        </div>
    </div>

    <!-- Existing row -->
    <div class="row align-items-center full-width-bg" style="background-color: #76A458;">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/about_img_01.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
        </div>
        <div class="col-lg-6">
            <div style="background-color: #426833; border-radius: 15px; margin-right: 10px;">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center" style="color: #ffbd59 !important;">How we make a difference</h1>
                <p class="lead1" style="font-size: 1.2rem; color: white;">Our mission is to guide users with a housing solution where individuals can discover, purchase, and customize their ideal home in areas that reflect their lifestyle, while fostering a deep connection to nature. We are committed to sustainability, offering homes that balance affordability with environmental responsibility by integrating access to green spaces, public transport, and polution-conscious planning. Our vision is to empower our users to build homes that not only nurture their mental well-being but also contribute to a healthier planet. Together, we help shape communities where homes are a sanctuary of peace, sustainability, and environmental stewardship.</p>
            </div>
        </div>
    </div>

</div>

<!--
<div class="container" style="background-color: #76A458;">

<div class="row align-items-center g-5 py-5 full-width-bg" style="background-color: #76A458;">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/about_img_01.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
    </div>
    <div class="col-lg-6">
        <div style="background-color: #426833; border-radius: 15px; margin-right: 10px;">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center" style="color: #ffbd59 !important;">How we make a difference</h1>
            <p class="lead1" style="font-size: 1.2rem; color: white;">Our mission is to guide users with a housing solution where individuals can discover, purchase, and customize their ideal home in areas that reflect their lifestyle, while fostering a deep connection to nature. We are committed to sustainability, offering homes that balance affordability with environmental responsibility by integrating access to green spaces, public transport, and polution-conscious planning. Our vision is to empower our users to build homes that not only nurture their mental well-being but also contribute to a healthier planet. Together, we help shape communities where homes are a sanctuary of peace, sustainability, and environmental stewardship.</p>
        <div>
    </div>
</div>
-->

{% endblock %}