{% extends "base.html" %}

{% block title %}Home - SustainABode{% endblock %}

{% load static %}

{% block content %}

    <div class="hero-images">
        <div class="hero-image-container">
            <img src="{% static 'images/sustaibability.png' %}" alt="Hero Image 1" class="img-fluid w-100" style="width: 100%;">
            <a class="btn btn-custom discover-more" id="scrollBtn1" href="#up_id" style="margin-bottom: 12%;">Scroll Down</a>
        </div>
        <div id="up_id">
        <div class="second-hero-container" style="margin-top:2";>
            <img src="{% static 'images/Knowledge Center (4).svg' %}" alt="Hero Image 2" class="img-fluid w-100">
            <div class="overlay-content">
                <div class="second-hero-text" style="margin-bottom: ;">
                    <h1 class="outlined-text" style="margin-top: -14%;">LOOKING FOR A BUDGET FRIENDLY HOUSE<br>THAT ALIGNS WITH SUSTAINABILITY ?</h1>
                    <a href="#skip-down" class="skip-button" type="button" >
                        <h1 class="skip-text">SKIP</h1>
                        <i class="fa-solid fa-chevron-down skip-icon"></i>
                    </a>

                </div>

                <div class="wrapper active-page1">
                    <div class="page page1">
                        <img src="{% static 'images/f1.png' %}" alt="f1" style="height: 90%; width: 100%" ;>
                    </div>
                    <div class="page page2">
                        <img src="{% static 'images/f2.png' %}" alt="f2" style="height: 100%; width:100%"; >
                    </div>
                    <div class="page page3">
                        <img src="{% static 'images/f3.png' %}" alt="f3" style="height: 90%";>
                    </div>
                    <div class="page page4">
                        <img src="{% static 'images/f4.png' %}" alt="f4" style="height: 100%";>
                    </div>
                    <div class="page page5">
                        <img src="{% static 'images/f5.png' %}" alt="f4" style="height: 100%";>
                    </div>
                </div>
                <div class="nav-panel">
                    <div class="scroll-btn up"></div>
                    <div class="scroll-btn down"></div>
                    <nav>
                        <ul>
                            <li data-target="1" class="nav-btn nav-page1 active"></li>
                            <li data-target="2" class="nav-btn nav-page2"></li>
                            <li data-target="3" class="nav-btn nav-page3"></li>
                            <li data-target="4" class="nav-btn nav-page4"></li>
                            <li data-target="5" class="nav-btn nav-page5"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    /* Transition 3 find out more with four find out more reports */
        <img src="{% static 'images/6.png' %}" alt="New Frame 1" class="img-fluid w-100">

        <div class="w-100 header-container">
            <h1 class="outlined-text"><b>How we are helping
                    promoting sustainability </b>
            </h1>
            <div class="frth-section-1">
                <img src="{% static 'images/HouseSymbol.png' %}" alt="New Frame 5" class="img-fluid" />
                <h4 class="text" id="scrollText">
                    We provide insights into affordable
                    housing options, helping you find a
                    home that fits your budget without
                    compromising quality.
                </h4>
                <a class="find-out-more" target="_blank" href="{% url 'housingdata_report' %}">find out more</a>
            </div>
            <div class="frth-section-2">
                <img src="{% static 'images/CarbonSymbol.png' %}" alt="New Frame 5" class="img-fluid">
                <h4 class="text" id="scrollText1">
                    We help you choose areas with
                    lower carbon emissions,close to parks and reserves,
                    promoting sustainable living and reducing
                    your environmental impact.
                </h4>
                <a class="find-out-more" target="_blank" href="{% url 'carbon_emission_report' %}">find out more</a>
            </div>
        </div>
        <div class="w-100 fouth-section2">
            <div class="frth-section-1">
                <img src="{% static 'images/CrimeSymbol.png' %}" alt="New Frame 5" class="img-fluid">
                <h4 class="text" id="scrollText2">
                    Our solution highlights neighborhoods
                    with lower crime rates, ensuring safety
                    and peace of mind for you andyour
                    family.
                </h4>
                <a class="find-out-more" target="_blank" href="{% url 'crime_report' %}">find out more</a>
            </div>

            <div class="frth-section-2">
                <img src="{% static 'images/trafficSymbol.png' %}" alt="New Frame 5" class="img-fluid">
                <h4 class="text" id="scrollText3">
                    Our platform prioritizes eco-friendly
                    living by integrating transportation
                    data, making it easier for you to
                    choose sustainable travel options.
                </h4>
                <a class="find-out-more" target="_blank" href="{% url 'transport_report' %}">
                    find out more</a>
            </div>

        </div>

    </div>
    <!-- Sustainscore map layout -->
    <div class="third-container">
        <a class="btn btn-custom discover-more" id="findbutton" href="/sustainscoremap" style="left:24%; margin-bottom: 5%";>find more</a>
        <img src="{% static 'images/Knowledge Center (5).png' %}" alt="Knowledge Center 5"
            class="img-fluid w-100">
        <!-- You can add more content here if needed -->
    </div>




<!-- top t suburb map  -->
    <!-- Graph section starts here -->
        <div class="graph-container">
            <div class="w-100 header-container" style="position: relative;width: 100%; height: 400px; padding: 20px;">
                <h3 class="outlined-text1" style="text-align:center; color: #21533b; margin-top: -7%;">Top 5 suburbs of melbourne</h3>
                <div class="text-container">
                    <h2 class="outlined-text" style="color: rgb(65, 72, 49);">Latest Trends</h2>
                    <p style="color: #244b2d; font-size: 18px; text-align: justify;">Melbourne is home to diverse suburbs, each offering unique characteristics that make it one of the most livable cities in the world. With a focus on sustainability, the city balances urban living with environmental responsibility through green spaces, eco-friendly developments, and accessible public transport. However, in a busy lifestyle, finding the perfect neighborhood can be challenging. That’s where our solution helps, guiding you to the best suburbs based on your priorities—whether it’s affordability, sustainability, safety, or convenience. By offering key insights, we empower you to make informed choices that contribute to sustainability and protect the environment</p>
                </div>
                
                <!-- Image Division -->
                <div class="image-container">
                    <canvas id="suburbChart"></canvas>
                </div>
            </div>
        </div>

<!-- Knowledge ecnter for news and articles -->

    <div class="Knowledge-container" style="position: relative;">
        <div class="Knowledge-background-img" style="position: absolute;">
            <img src="{% static 'images/bg_frame5.png' %}" alt="New Frame 4" class="img-fluid w-100">
        </div>
        <div class="Knowledge-header" style="position: absolute; z-index: 12;width: 100%;text-align: center;margin-top: 2%;color: #000;">
            <h1 class="outlined-text1">Knowledge Center</h1>
        </div>
        <div class="Knowledge-main" style="position: absolute; margin-top: 10%;">
            <div class="Knowledge-section-1">
                <div class="Knowledge-image-container">
                    <img src="{% static 'images/expensive_suburbs2.jpeg' %}" alt="New Frame 4" class="img-fluid w-100 animated-img">
                </div>
                <div class="Knowledge-text-container">
                    <h3 style="font-family:ovo ; color: white; text-align: justify; margin: 8%;">
                        The top most expensive suburbs in melboune
                    </h3>
                    
                </div>
                <div class="Knowledge-btn-container">
                    <a class="btn discover-more" style="margin-bottom: -2%;" target="_blank"
                        href="https://7news.com.au/business/melbourne-property/melbournes-most-liveable-suburb-crowned-as-northcote-in-2021-study-c-4796275">
                        find more</a>
                </div>
            </div>

            <div class="Knowledge-section-2">
                <div class="Knowledge-image-container">
                    <img src="{% static 'images/latest_crime.jpg' %}" alt="New Frame 4" class="img-fluid w-100 animated-img">
                </div>
                <div class="Knowledge-text-container">
                    <h3 style="font-family:ovo ; color: white; text-align: justify; margin: 8%;">
                        Latest crime News across melbourne
        
                    </h3>
                </div>
                <div class="Knowledge-btn-container">
                    <a class="btn discover-more" style="margin-bottom: -2%"; target="_blank"
                        href="https://www.crimestatistics.vic.gov.au/about-the-data">find more</a>
                </div>
            </div>

            <div class="Knowledge-section-3">
                <div class="Knowledge-image-container">
                    <img src="{% static 'images/Road_rages.jpg' %}" alt="New Frame 4" class="img-fluid w-100 animated-img">
                </div>
                <div class="Knowledge-text-container">
                    <h3 style=" font-family:ovo ; color: white; text-align: justify; margin: 8%;">
                        Roads Rages and Traffic offense melbourne
                        
                    </h3>
                </div>
                <div class="Knowledge-btn-container">
                    <a class="btn discover-more" style="margin-bottom: -2%"; target="_blank"
                        href="https://7news.com.au/news/melbourne-traffic-update-ahead-of-thursday-morning-peak-hour-including-breakdowns-and-crashes-c-16105856">
                        find more</a>
                </div>
    </div>
</header>

{% endblock %}