{% extends "base.html" %}

{% block title %}Home - SustainABode{% endblock %}

{% load static %}  <!-- Add this line to load the static files -->

{% block content %}

    <div class="col-lg-6 mx-auto full-width-bg d-flex justify-content-center align-items-start position-relative" style="background-image: url('{% static 'img/landing_img_01.png' %}');">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center position-absolute"
            style="top: 70%; transform: translateY(-50%);">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Discover More</button>
        </div>
    </div>

    <div class="col-lg-6 mx-auto full-width-bg d-flex flex-column" style="background-image: url('{% static 'img/landing_img_02.png' %}');">
        <p class="lead mb-4 text-80">Discover how sustainability and smart choices come together to simplify your home search. Explore the journey from frustration to finding the perfect suburb, with data-driven insights guiding the way.</p>
        <h3 class="text-center mb-4">Discover Your Sustainable Suburb Today!</h3> <!-- Centered heading -->
        <section class="carousel-section mt-6 col-10 col-lg-8 mx-auto" style="width: 70%;">
           
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/frame1.png' %}" alt="First Image" class="d-block w-100">
                        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center ">
                            <p class="typed-text" id="typed-text-1"></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/frame2.png' %}" alt="Second Image" class="d-block w-100">
                        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                            <p class="typed-text" id="typed-text-2"></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/frame3.png' %}" alt="Third Image" class="d-block w-100">
                        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                            <p class="typed-text" id="typed-text-3"></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/frame4.png' %}" alt="Fourth Image" class="d-block w-100">
                        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                            <p class="typed-text" id="typed-text-4"></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/frame5.png' %}" alt="Fifth Image" class="d-block w-100">
                        <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                            <p class="typed-text" id="typed-text-5"></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
    
    </div>

    <!-- Add the Carousel Here, below the Discover section -->

    <!-- Continue with existing content -->
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 full-width-bg" style="background-image: url('{% static 'img/landing_img_03.png' %}');">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/landing_img_04.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="color: #254D54 !important;">Suburb-Wise Sustainability Score</h1>
            <p class="lead1">Find the suburb that best fits your criteria of sustainable living. Our SustainScore evaluates neighborhoods based on key sustainability indicators.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Go</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mx-auto full-width-bg d-flex flex-column" style="background-image: url('{% static 'img/landing_img_05.png' %}');">
    </div>

    <div class="col-lg-6 mx-auto full-width-bg d-flex flex-column" style="background-color: #B6C6AC;">
        <div class="container px-4 py-5" id="custom-cards" >
            <h1 class="pb-2 text-center" style="font-size: 4rem; color: white;">Knowledge Center</h1>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Most Expensive Suburbs</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <p style="font-size: 1.3rem;">10 suburbs worth the money</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Latest Crime News</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <p style="font-size: 1.3rem;">Get the latest on crime incidents in the area</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Road Rages and Melbourne</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <p style="font-size: 1.3rem;">Updates on traffic conditions and road incidents</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
